<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neokoros</title>
</head>
<body>
    <form method="POST">
        <label> Digite o número </label>
        <input type="number" name="numero">
        <button>Enviar</button>
    </form>
    
</body>
</html>